html,
body,
#__nuxt,
#__layout {
	height: 100%;
}

body {
	background-color: #FAFAFA;
	font-family: 'Inter', sans-serif;
}

.wrapper {
	padding-top: 127px;
	padding-left: 50px;

	@media all and (max-width:800px) {
		padding-top: 32px;

	}
}



table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

.action-buttons button {
	margin-bottom: 5px;
}

button.add-form-btn {
	border-radius: 10px;
	border: 1px solid;
	background-size: 200% auto;
	background-image: linear-gradient(to right, #9ab9ff 0%, #4377ce 51%, #4470d3 100%);
	box-shadow: 0 0 20px #eee;
	color: white;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 5px 10px;
	text-align: center;
	transition: 0.5s;
}

button.add-form-btn:hover {
	background-position: right center;
}

.add-form label {
	margin-right: 10px;
}

button#addBtn {
	margin-right: 10px;
}